@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@800&display=swap');

:root {
    --texto: rgb(23, 23, 23);
    --lila: rgb(91, 73, 254);
    --verde: rgb(125, 232, 140);
    --verdeclaro: rgb(207, 243, 125);
    --fondo: #f9f9f9;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    width: 100vw;
    background-color: var(--fondo);
    color: var(--texto);
}
header {
    height: 6vw;
}
header, footer {
    width: 100vw;
}

header img {
    width: 10rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    color: var(--lila);
}
a.actual {
    font-weight: 700;
}
li {
    margin-right: 1rem;
}

body.index {
    background: linear-gradient(75deg, rgb(207, 243, 125), rgb(125, 232, 140));
}

header {
    background-color: white;
    box-shadow: 0 0.1rem 0.2rem gray;
    font-weight: 700;
    font-size: 0.8rem;
}
header img, header nav {
    margin-left: 15vw;
}

.index header {
    background-color: transparent;
    box-shadow: none;
}
.index footer, .tshirt footer {
    position: absolute;
    bottom: 0;
}
.index .texto {
    width: 30vw;
}
.index h1 {
    font-size: 2.4rem;
}
.texto p {
    font-weight: 500;
    font-size: 0.75rem;
}

.index h1 span {
    color: white;
}

input[type="search"] {
    background-image: url("../images/icon_search.svg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: contain;
    padding-left: 2rem;
    height: 2rem;
    width: 100%;
    margin: 0;
}

.index .hero {
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    height: 65%;
}

main {
    width: 70vw;
    margin: 0 auto;
}

fieldset {
    width: 50%;
}

fieldset label, fieldset input, #fecha {
    display: block;
    margin-left: 5%;
    margin-top: 0.2rem;
}
input[type="submit"] {
    display: block;
    background-color: var(--lila);
    color: white;
}
.pago input, .pago label {
    display: inline;
    margin: 0 0.2rem;
    width: initial;
}
.pago div {
    margin-left: 5%;
}
fieldset input, select, .index input {
    width: 90%;
    border: 1px #cccccc solid;
}

fieldset {
    border: 1px solid blue;
    margin-top: 0.5rem;
}

legend {
    background-color: blue;
    color: white;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: var(--lila);
    color: white;
    font-size: 0.6rem;
}
footer p, footer nav {
    margin-left: 15vw;
}
footer a {
    color: white;
}
footer a:hover {
    color: var(--verdeclaro);

}
/*join.html*/
div.required {color: red;}
fieldset:not(:last-of-type) label:not(:last-of-type)::after {
    content: "*";
    color: red;
}

/*tshirt.html*/
table {
    table-layout: auto;
    margin: 0 auto;
    width: 100%;
}
table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th[scope^="row"] {
    text-align: left;
    padding-left: 0.5rem;
}
td {
    text-align: center;
}
caption, tr {
    height: 2rem;
}
caption {
    line-height: 2rem;
    background-color: blue;
    color: white;
}
tr:first-child th:first-child {
    background-color: var(--verde);
}
th {
    background-color: var(--verdeclaro);
}
tr:nth-child(2n) td {
    border-bottom-color: var(--verdeclaro);
} 
/*about.html*/
figure {
    width: 50%;
    margin-left: 0;
    margin-top: 0;
}
figure img {
    width: 100%;
    border: 1px solid var(--verdeclaro);
    padding: 0.3rem;
}
figcaption {
    text-align: center;
    font-style: italic;
    font-size: small;
}
.about h1 {
    margin-bottom:0;
}
